/*  Conteúdo da Página */

/* Banner */
.banner{
  background-image: url('./assets/bg-jelly-fish-para_outras_pags.png');
  padding: 50px 0;
  background-size: cover;
}

.banner .container{
  height: 350px;
  align-items: center;
  justify-content: center;
}

.banner p{
  color: white;
  font-size: 35px;
  width: 280px;
}

/* SOCIAL */
.social{
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}
.social .caixas{
  display: flex;
  justify-content: center;
  align-items: center;
}
.caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}
.caixa img{
  width: 170px;
}
.caixa p{
  text-align: center;
}
.caixa h4{
  margin: 15px 0;
  color: #e6005a;
}

